/* Buttons */
/* for ADD ,SEARCH,EXPORT  */
.buttonsASE{
             background-color: #2759A2;
               color: white; 
                border: 1px solid transparent;
                border-color:#2759A2;
                display:inline-block;
                text-align: center;
                background-image:none;
                /* user-select: 'none'; */
                vertical-align:middle;
                white-space: nowrap;
                touch-action: manipulation;
               cursor:pointer;
               text-decoration: none;
               border-radius:3px;
               box-shadow:none;
               padding:5px 10px;
               line-height: 1.5;
               box-sizing:border-box;
}

/* Icons  */
/* for plus,search,file icon with ADD ,SEARCH,EXPORT  buttons  */
/* PLUS:faPlus
SEARCH:faSearch
EXPORT:faFileExcel */
    .iconsASE{
        box-sizing: border-box;
        color: white;
        margin-right: 6px;
        border: none;
        display: inline-block;
        text-rendering: auto;

    }


/* SEARCH BUTTON  */  
     .searchBTN{
                    margin-left:0.5em;
                    display:inline-block;
                    width:auto;
                    box-sizing:border-box;
                    margin:0;
                    padding-block:1px;
                    padding-inline:2px;
                    line-height:normal;
                    text-transform:none;
                    word-spacing:normal;
                    display:inline-block;
                    text-align:start;
                    appearance:auto;
                    letter-spacing:normal;
                    word-spacing:normal;
                    border-image:initial;
                    border-style:inset;
                    border-width :2px;
                    padding:1px 0px;
                      cursor:text;
                    text-shadow:none;
                    text-indent:0px;
                    border-left: 2px solid #212121;
                    border-top: 2px solid #212121;
                    border-right:2px solid #767676;
                    border-bottom:2px solid #767676;

}

/* heading of first FORM..  */
.headingF{
     margin: 0;
          font-size: 24px;
    font-weight:500;
    line-height: 1.1;
    display:block;
    font-family:sans-serif;
        margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom:10px;
}





/* 1st DIV  */
.first{
    min-height: 250px;
    padding:15px;
    margin-right: auto;
    margin-left:auto;
    padding-left:15px;
    padding-right: 15px;
    display: block;
    box-sizing: border-box;
}
    

/* div of blue border  */
.top_border{
        border-top-color:#2759A2;
        position: relative;
        border-radius:3px;
        background: #ffffff;
        border-top: 3px solid #2759A2;
        margin-bottom: 20px;
        width:100%;
        box-sizing: border-box;
        display:block;
        
}


/* div of buttons  */

    .button_div{
        /* display:'block'; */
        padding:'10px';
        position:'relative';
        box-sizing:'border-box';
        line-height:'1';
        display:'flex';
        gap:'10px';
    }



    /* for SAVE AS DRAFT BUTTON  */
            .saveButton{
            background-color:#2759A2;
            border-color:#2759A2;
            border-radius:3px;
            color:white;
            box-shadow:none;
            border: 1px solid transparent;
            /* user-select: :'none', */
            background-image:none;
            padding-block:1px;
            padding-inline:6px;
            display:inline-block;
            padding:6px 12px;
            margin-bottom:0;
            font-size:14px;
            font-weight:400;
            text-align: center;
            white-space:nowrap;
            vertical-align:middle;
            text-decoration: none;
            }

            /* for submit indent button  */
            .submit_indent{
            cursor:pointer;
            background-color:#dd4b39;
            border-color:#d73925;
            border-radius: 3px;
            color:white;
            box-shadow:none;
            border: 1px solid transparent;
            /* userSelect:'none'; */
            background-image:none;
            padding-block:1px;
            padding-inline:6px;
            display:inline-block;
            padding:6px 12px;
            margin-bottom:0;
            font-size:14px;
            font-weight:400;
            text-align:center;
            white-space:nowrap;
            vertical-align:middle;
            text-decoration:none;
            }


            /* for back button  of NEXT FORM */
           .backBtn{
                display:inline-block;
                text-rendering:auto;
                box-sizing:border-box;
                color:white;
                cursor:pointer;
                background-color:#2759a2;
                border-color:#2759a2;
                box-shadow:none;
                border:1px solid transparent;
                padding:5px 10px;
                font-size:12px;
                line-height:1.5;
                text-align:center;
                text-decoration:none;
                background-image:none;
                white-space:nowrap;
                vertical-align:middle;
                border-radius:3px;
            }

            /* submit button of NEXT FORM  */
           .submit_Next{
            background-color: #2759a2;
            border-color: #2759a2;
            border-radius: 3px;
            color:white;
            box-shadow: none;
            border: 1px solid transparent;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight:400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align:middle;
            cursor: pointer;
            background-image: none;
           text-transform: none;
           padding-block:1px;
           padding-inline:6px;
            }

            
            /* heading in NEXT FORM..  */
            .heading_Next{
                margin-bottom: 20px;
                font-size:24px;
                margin:0;
                font-family:sans-serif;
                font-weight:500;
                display:block;
                box-sizing:border-box;
            }
            .label{
    display:inline-block;
    max-width: 100%;
    margin-bottom:5px;
    font-weight: 700;
    cursor:pointer;
    line-height: 1.42857143;
    color: #333;
}

            /* heading for NEXT FORM... */
            /* <div style={{ display: 'flex', alignItems: 'center', gap: '10px' ,marginBottom:'10px'}}> */

            /* for * for Labels  */
            /* color:'#dc3545' */
            